body {
  background-image: url('../src/images/background.png');
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  margin: 0;
}