.item-purpose-body textarea {
    background: #eff2f9;
    border: 2px solid #f48fb1;
    border-radius: 8px;
    width: 90%;
    padding: 16px;
    color: #070127;
    transition: 0.2s;
    font: 16px "Roboto", sans-serif;
    font-weight: 300;
    min-height: 150px;
}

@media (max-width: 900px) {
    .item-purpose-body textarea {
        width: 76%;
    }
}