.resume-wrapper {
    background-color: rgba(233, 222, 247, 0.78);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    max-height: 50vh;
    overflow: auto;
    padding: 0 15px;
}

.resume-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resume-items h3 {
    color: #44426c;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.7rem, 3vw, 1.4vw);
    text-align: center;
}

.resume-items button {
    background: none;
    color: maroon;
    padding: 10px 35px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-align: left;
}

.resume-items button:hover {
    background: #009999;
    color: white;
}

.resume-items button.active {
    background: #5187e8;
    color: white;
}

.resume-items .round-number {
    background: #fff;
    border-radius: 180px;
    color: green;
    font-weight: bold;
    font-size: clamp(0.4rem, 3vw, 0.8vw);
    margin-right: 10px;
    padding: 5px 10px;
}

.resume-items .round-number-2 {
    background: #fff;
    border-radius: 180px;
    color: green;
    font-weight: bold;
    font-size: clamp(0.4rem, 3vw, 0.8vw);
    margin-right: 10px;
    padding: 5px 6px;
}

.item-step-button-preview {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.7rem, 3vw, 1vw);
    font-weight: 500;
    vertical-align: bottom;
    margin-right: 0.5rem;
}

.resume-items svg {
    vertical-align: top;
    position: relative;
    float: right;
}

.clear {
    clear: both;
}